/* CONTENEDOR PRINCIPAL */
.admin-container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* BOTÓN CREAR */
#btnNuevo {
    margin-bottom: 20px;
}

/* TABLA */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.admin-table th {
    background-color: #f5f5f5;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.admin-table td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

/* FILAS */
.admin-table tr:hover {
    background-color: #f9f9f9;
}

/* BOTONES */
.btn-accion {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.btn-editar {
    color: #007bff;
}

.btn-eliminar {
    color: #dc3545;
}